main {
  color: #CCC;
  margin-left: 7em;
  padding: 1px 0 1px 5%;
  boarder-left: 1px solid;
}

nav {
  float: left;
  width: 7em;
  background: #FDD;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 7em;
  background: white;
  border: 1px solid;
}

nav li {
  position: relative;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #CCC;
}

nav ul ul {
  position: absolute;
  top: 0;
  left: 7em;
  display: block;
}

h1, h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: rgba(201, 76, 76, 0.3);
}
